.result {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-result {
      color: white;
    }

    .medals {
      margin: 0 5px 0 -10px;
      height: 25px;
      width: 25px;
    }
  }

  .group-button {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-table {
      width: 300px;
      height: 80px;
      margin: 20px;
      color: white;
      font-weight: bold;
      font-size: 25px;
      border-radius: 10px;
      background-color: #00c1a2;
      border: 0;
      box-shadow: 0 0 5px black;
      padding: 7px 20px;

      &:hover {
        cursor: pointer;
        background-image: radial-gradient(
          ellipse farthest-corner at 50% 50%,
          #fdeaa8,
          #777
        );
      }
    }
  }
}
