.lose-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    top: 0;
    z-index: 1;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 5em;
    text-align: center;
  }

  .button-next {
    width: 300px;
    height: 80px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    background-color: #00c1a2;
    border: 0;
    box-shadow: 0 0 5px black;
    padding: 7px 20px;

    &:hover {
      cursor: pointer;
      background-image: radial-gradient(
        ellipse farthest-corner at 50% 50%,
        #0c7564,
        #777
      );
    }
  }
}
